@tailwind base;
@tailwind components;
@tailwind utilities;

.titleHome {
  color: var(--Yellow, #ffd15b);
  text-align: center;
  font-family: Anton;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  width: 32ch;
}

.titleSort {
  color: var(--Black, #1b1b1b);
  font-family: Anton;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.boxSort {
  border-radius: 11px;
  background: #fff;
}

.textSort {
  color: var(--Black, #1b1b1b);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.card {
  width: 380px;
  height: 731px;
  flex-shrink: 0;
  border-radius: 21px;
  background: #fff;
  box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
  margin: 1em;
}
.card-image {
  width: 380px;
  height: 253px;
  flex-shrink: 0;
  object-fit: cover;
  position: relative;
  top: -1.75em;
  border-radius: 21px 21px 0 0;
}

.card-title {
  color: #000;
  font-family: Anton;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 1em 1em 1em 10px;
}

.card-subtitle {
  color: var(--Grey, #7a7a7a);
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  text-transform: uppercase;
  margin: 3em 1em 0 1em;
}

.card-text {
  color: var(--Black, #1b1b1b);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

.ingredients-name {
  color: var(--Black, #1b1b1b);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 1em 1em 0 1em;
}

.ingredients-quantity {
  color: var(--Grey, #7a7a7a);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 1em;
  margin: 0 1em 1em 1em;
}

.bubble {
  position: relative;
  top: 1em;
  left: 18em;
  border-radius: 14px;
  background: var(--Yellow, #ffd15b);
  width: max-content;
  display: inline-flex;
  padding: 5px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 2;
}

.bubble-text {
  color: var(--Black, #1b1b1b);
  text-align: center;
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

ul li {
  flex: 0 0 calc(50% - 10px);
  margin: 0 5px;
}

.bg-hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
