@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #ededed;
}

.titleHome {
  color: var(--Yellow, #ffd15b);
  text-align: center;
  font-family: Anton;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  width: 32ch;
}

.titleSort {
  color: var(--Black, #1b1b1b);
  font-family: Anton;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.boxSort {
  border-radius: 11px;
  background: #fff;
}

.textSort {
  color: var(--Black, #1b1b1b);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.card {
  width: 380px;
  height: 731px;
  flex-shrink: 0;
  border-radius: 21px;
  background: #fff;
  box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
  margin: 1em;
}
.card-image {
  width: 380px;
  height: 253px;
  flex-shrink: 0;
  object-fit: cover;
  position: relative;
  top: -1.75em;
  border-radius: 21px 21px 0 0;
}

.card-title {
  color: #000;
  font-family: Anton;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 1em 1em 1em 10px;
}

.card-subtitle {
  color: var(--Grey, #7a7a7a);
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  text-transform: uppercase;
  margin: 3em 1em 0 1em;
}

.card-text {
  color: var(--Black, #1b1b1b);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

.ingredients-name {
  color: var(--Black, #1b1b1b);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 1em 1em 0 1em;
}

.ingredients-quantity {
  color: var(--Grey, #7a7a7a);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 1em;
  margin: 0 1em 1em 1em;
}

.bubble {
  position: relative;
  top: 1em;
  left: 18em;
  border-radius: 14px;
  background: var(--Yellow, #ffd15b);
  width: max-content;
  display: inline-flex;
  padding: 5px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 2;
}

.bubble-text {
  color: var(--Black, #1b1b1b);
  text-align: center;
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

ul li {
  /* flex: 0 0 calc(50% - 10px); */
  margin: 0 5px;
}

.bg-hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

input:focus::placeholder {
  color: transparent;
}

.fa-solid {
  position: absolute;
  top: 2em;
  left: 87%;
}

.fa-solid {
  display: none;
}

/* Dropdown Button */
.ingredientsDropBtn,
.appliancesDropBtn,
.ustensilsDropBtn {
  border-radius: 11px;
  background: #fff;
  cursor: pointer;
  width: 195px;
  text-align: justify;
  margin-right: 4em;
  color: var(--Black, #1b1b1b);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.tags {
  color: var(--Black, #1b1b1b);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Dropdown button on hover & focus */
/* .dropbtn:hover,
.dropbtn:focus {
  background-color: #3e8e41;
} */

/* The search field */
#myDropdownInputIngredients,
#myDropdownInputAppliances,
#myDropdownInputUstensils,
#myDropdownInput {
  box-sizing: border-box;
  /* background-image: url("../../src/assets/images/searchicon.png"); */
  background-position: 14px 12px;
  background-repeat: no-repeat;
  padding: 14px 20px 12px 1em;
  border: none;
  width: 195px;
  border-radius: 2px;
  border: 1px solid var(--Light-Grey, #c6c6c6);
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 165px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.3em;
  border-radius: 2px;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {
  outline: 3px solid #ddd;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  width: 196px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: white;
  color: var(--Black, #1b1b1b);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ffd15b;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
  position: absolute;
  top: 4em;
  padding-bottom: 3em;
  z-index: 3;
}

.hide {
  display: none;
}
#tags {
  display: none;
}

.sortIngredients {
  width: 195px;
}

.ingredientsDropdown {
  display: flex;
  align-items: center;
}
.searchicon {
  position: relative;
  right: 2em;
}

.myDropdownInputDiv {
  background-color: white;
  width: 195px;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-left: 1em;
}

.sort {
  width: 86em;
  margin-bottom: 2em;
}

.formContainer {
  display: flex;
  flex-direction: column;
}
.tagsArrayDiv {
  display: flex;
  width: inherit;
  height: min-content;
}
.tagsArrayDiv ul {
  display: flex;
  width: inherit;
  flex-wrap: wrap;
}
.tagsArrayDiv ul li a {
  display: inline-flex;
  padding: 17px 18px;
  align-items: center;
  gap: 60px;
  border-radius: 10px;
  background: #ffd15b;
  margin-bottom: 0.5em;
}

.tagsList {
  margin: 1em 0;
}

.closeTag {
  top: 0em;
  position: relative;
  left: -0.25em;
}
@media screen and (min-width: 1025px) {
  .fa-solid {
    position: absolute;
    top: 2em;
    left: 90%;
  }
  .closeTag {
    top: 0em;
    position: relative;
    left: -0.25em;
  }
}
@media screen and (min-width: 1535px) {
  .fa-solid {
    position: absolute;
    top: 2em;
    left: 94%;
  }
  .closeTag {
    top: 0em;
    position: relative;
    left: -0.25em;
  }
}
